<%- include('partials/head.ejs', {title:"home"}) %>
<%- include('partials/header.ejs') %>


<main>
    <h1>Home</h1>

    <ul>
        <% users.forEach((user) => { %>
            <li>
                <%= user.firstname %> <%= user.lastname %>
            </li>
            <% if(user.birth) { %>
                <li>
                    <%= `${user.birth.day}/${user.birth.month}/${user.birth.year}` %>
                </li>
            <% } %>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer.ejs') %>

