<%- include('partials/head.ejs', {title:"Learn Crypto", style: "#.css"}) %>
<%- include('partials/header.ejs') %>

<!-- create algorithm to access to the json file here -->

<div class="container">
    <div class="headd-title">
        <h1>What is <%= coin %></h1>
        <p><%= coin_explanation %></p>
        <button>BUY <%= coin_name %></button>
    </div>
    <-include('partials/tradingView.ejs') %>
    <div class=""></div>
</div>

<%- include('partials/footer.ejs') %>
